body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  button[type="submit"]{
      width: 100%;
  }

  .editar, .borrar, .correo, .pdf{
    cursor:pointer;
  }